@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss/base';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #f0eaf8;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
}

.arrow {
  width: 0;
  height: 0;
  margin: auto 8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.arrow--right {
  border-left: 16px solid theme('colors.secondary.200');
}
.arrow--left {
  border-right: 16px solid theme('colors.secondary.200');
}
